<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>18/12/24 13:41:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AssignementThree.afterClass()[pri:0, instance:com.selenium.practemaven.AssignementThree@2b98378d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/12/24 13:40:59</td>   <td>-10474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AssignementThree.beforeClass()[pri:0, instance:com.selenium.practemaven.AssignementThree@2b98378d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/12/24 13:41:02</td>   <td>-7046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignementThree.flipkart()[pri:0, instance:com.selenium.practemaven.AssignementThree@2b98378d]">flipkart</td> 
  <td>main@239465106</td>   <td></td> </tr>
</table>
