<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>18/12/24 19:15:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AssignementThree.beforeClass(java.lang.String)[pri:0, instance:com.selenium.practemaven.AssignementThree@4c70fda8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/12/24 19:15:58</td>   <td>3279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignementThree.flipkart()[pri:0, instance:com.selenium.practemaven.AssignementThree@4c70fda8]">flipkart</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/12/24 19:16:27</td>   <td>32520</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AssignementThree.afterClass()[pri:0, instance:com.selenium.practemaven.AssignementThree@4c70fda8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
</table>
